
.user-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*background-color: #b38b6d;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 20;
}

/*HEADER*/
/*HEADER*/
/*HEADER*/

.user-menu header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 10rem;
    background: url("assets/header_bg.jpg") rgb(159, 119, 89);
    background-size: cover;
}


.top-panel {
    padding: 0 0.5rem;
    width: 100vw;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bottom-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 8rem;
    padding: 1rem;
}

.user-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    color: white;
}

/*MAIN*/
/*MAIN*/
/*MAIN*/

.user-menu main {
    width: 100vw;
    height: 70vh;
    padding: 0.4rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-display {
    font-size: 0.6rem;
    width: 14rem;
    height: 3rem;
    background-size: cover !important;
    background-position: 0 -2rem !important;
    border-radius: 0.8rem 0 0.8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}