.mainBanner {
    height: 5.3rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0.7rem 1rem;
    color: white;
    text-align: center;
    font-size: 0.5rem;
    font-weight: bold;
    font-family: 'Major Mono Display', monospace;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

.mainBanner svg:hover {
    cursor: pointer;
}

.mainBanner ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.mainBanner ul li {
    display: block;
    font-size: larger;
    padding-bottom: 1rem;
}

.mainBanner .active {
    border-bottom: 1px solid white;
}

.hidden menu {
    width: 100vw;
    height: 100vh;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    position: sticky;
    top: -100%;
    transition: 0.5s;
}

.expandedMenu {
    top: 0;
}